/****************************************************
* VARIABLES
****************************************************/

// COLORS

// TYPOGRAPHY
$v--main-font: 'Roboto', sans-serif;

h3{
  font-size: 24px;
  font-weight: 400;
}
// SETUP